@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --inter: var(--font-inter);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #FFCC00;
  --font-sans: var(--inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--inter), Arial, Helvetica, sans-serif;
}
