@import "tailwindcss";

@variant dark (.dark &);

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #171717;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-display: var(--font-manrope);
}
