@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* tailwind animation */
@theme {
  --animate-marquee: marquee 10s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* css animations */
/* .animate-me {
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  from {
    transform:  translateX(-100%);
  }
  to {
    transform:  translateX(-200%);
  }
} */
