@import "tailwindcss";

@variant dark (.dark &);

:root {
  --background: var(--color-neutral-50);
  --foreground: var(--color-neutral-950);
}

/* tailwind animation */
@theme {
  --animate-marquee: marquee 10s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

.dark {
  --background: var(--color-neutral-950);
  --foreground: var(--color-neutral-50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* css animations */
/* .animate-me {
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  from {
    transform:  translateX(-100%);
  }
  to {
    transform:  translateX(-200%);
  }
} */

.card {
  @apply relative rounded-md my-2 overflow-hidden shadow-sm
}