@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.layout {
  height: 100vh;
  background-image: linear-gradient(to bottom, #fff, #dbeafe, #fff);
}

.navbar-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
}

.logo {
  font-size: 16px;
  font-weight: 800;
}

.links {
  display: flex;
  align-items: center;
  gap: 32px;
}

.link-items {
  font-size: 16px;
  text-decoration: none;
  color: #525252;
}

.link-items:hover {
  color: #000;
  transition: color 0.2s ease-out;
}

.btn {
  all: unset;
  font-size: 16px;
  padding: 8px 16px;
  background-color: #3b83f6;
  border-radius: 8px;
  color: #fff;
  text-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px, 4px, 10px, rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.hero-root {
  padding: 20px 0px;
}

.badge {
  font-size: 16px;
  max-width: 330px;
  border-radius: 50px;
  background-color: #f5f5f5;
  padding: 2px 8px;
  width: fit-content;
  margin: 0 auto;
  border: 0.5px solid #e5e5e5;

  display: flex;
  justify-content: center;
  align-items: center;
}

.badge:hover {
  background-color: #e5e5e5;
  transition: background-color 0.2s ease-out;
}

.hero-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.2px;
  line-height: 1.1;
  margin-top: 40px;
}

.hero-subtitle {
  font-size: 16px;
  color: #737373;
  text-align: center;
  max-width: 400px;
  margin: 40px auto;
}

.hero-cta {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 10px;
}

.btn-secondary {
  all: unset;
  font-size: 16px;
  color: #000;
  padding: 8px 16px;

  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  border-radius: 10px;
}

.btn-secondary:hover {
  background-color: #e5e5e5;
}

.layout-lines-container {
  max-width: 90%;
  margin: 0 auto;
  position: absolute;
  inset: 0;
  height: 100%;
}

.left-line {
  height: 100%;
  width: 1px;
  background-image: linear-gradient(to bottom, #d4d4d4, #f5f5f5);

  position: absolute;
  left: -10px;
}

.right-line {
  height: 100%;
  width: 1px;
  background-image: linear-gradient(to bottom, #d4d4d4, #f5f5f5);

  position: absolute;
  right: -10px;
}

.hero-image-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -200px;
}

.hero-image {
  width: 800px;
  height: 400px;
  margin: 0 auto;
  border-radius: 6px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  object-position: top left;
}

.horizontal-line {
  height: 1px;
  width: 100%;
  background-image: linear-gradient(to right, #d4d4d4, #f5f5f5);

  position: absolute;
  top: -10px;
  opacity: 0.5;
}
